## Import data

Dataset was loaded from Kaggle: https://www.kaggle.com/datasets/nathanlauga/nba-games/data

In [11]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import numpy as np

df_games = pd.read_csv('data/games.csv').drop(["TEAM_ID_home", "TEAM_ID_away"], axis=1)
df_games = df_games.loc[df_games["SEASON"] >= 2004]

min_max_scaler = MinMaxScaler()
cols_to_norm = ["HOME_TEAM_ID", "VISITOR_TEAM_ID"]
df_games.loc[:, cols_to_norm] = min_max_scaler.fit_transform(df_games.loc[:, cols_to_norm])
# df_games.loc[:, ["HOME_TEAM_ID", "VISITOR_TEAM_ID"]] %= 100
df_games

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,0.103448,0.758621,2022,126.0,0.484,0.926,0.382,25.0,46.0,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,0.862069,0.931034,2022,120.0,0.488,0.952,0.457,16.0,40.0,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,0.068966,0.413793,2022,114.0,0.482,0.786,0.313,22.0,37.0,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,0.620690,0.965517,2022,113.0,0.441,0.909,0.297,27.0,49.0,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,0.000000,0.137931,2022,108.0,0.429,1.000,0.378,22.0,47.0,110.0,0.500,0.773,0.292,20.0,47.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26646,2014-10-06,11400007,Final,0.000000,0.103448,2014,93.0,0.419,0.821,0.421,24.0,50.0,87.0,0.366,0.643,0.375,17.0,43.0,1
26647,2014-10-06,11400004,Final,0.137931,0.931034,2014,81.0,0.338,0.719,0.381,18.0,40.0,85.0,0.411,0.636,0.267,17.0,47.0,0
26648,2014-10-06,11400005,Final,0.344828,0.206897,2014,98.0,0.448,0.682,0.500,29.0,45.0,95.0,0.387,0.659,0.500,19.0,43.0,1
26649,2014-10-05,11400002,Final,0.827586,0.724138,2014,99.0,0.440,0.771,0.333,21.0,30.0,94.0,0.469,0.725,0.385,18.0,45.0,1
26650,2014-10-04,11400001,Final,0.379310,0.103448,2014,86.0,0.431,0.679,0.333,18.0,42.0,98.0,0.462,0.706,0.438,19.0,42.0,0

In [12]:
df_teams = pd.read_csv('data/teams.csv')
df_teams.loc[:, ["TEAM_ID"]] = min_max_scaler.fit_transform(df_teams.loc[:, ["TEAM_ID"]])
df_teams.head()

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,0.000000,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,0.034483,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,0.103448,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,0.137931,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,0.172414,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

## Get useful columns

In [13]:
season_to_simulate = 2015

X = df_games.loc[df_games["SEASON"] == season_to_simulate, ["SEASON", "HOME_TEAM_ID", "VISITOR_TEAM_ID",
                                                            'FG_PCT_home', 'FT_PCT_home',
                                                            'FG3_PCT_home', 'AST_home', 'REB_home',
                                                            'FG_PCT_away', 'FT_PCT_away',
                                                            'FG3_PCT_away', 'AST_away', 'REB_away',
                                                            "HOME_TEAM_WINS"]]
cols_to_norm = ['AST_home', 'REB_home',
                'AST_away', 'REB_away']
X.loc[:, cols_to_norm] = min_max_scaler.fit_transform(X.loc[:, cols_to_norm])
X
# X

,SEASON,HOME_TEAM_ID,VISITOR_TEAM_ID,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
23817,2015,0.241379,0.068966,0.386,0.769,0.366,0.40625,0.348837,0.402,0.840,0.240,0.275862,0.577778,0
23818,2015,0.068966,0.241379,0.519,0.781,0.370,0.46875,0.488372,0.402,0.690,0.385,0.344828,0.288889,1
23819,2015,0.241379,0.068966,0.364,0.731,0.326,0.28125,0.441860,0.530,0.609,0.417,0.206897,0.422222,0
23820,2015,0.068966,0.241379,0.469,0.577,0.240,0.18750,0.372093,0.407,0.806,0.472,0.482759,0.466667,0
23821,2015,0.068966,0.241379,0.527,0.706,0.480,0.43750,0.651163,0.421,0.654,0.273,0.413793,0.222222,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25228,2015,0.827586,0.310345,0.425,0.806,0.182,0.06250,0.558140,0.380,0.700,0.333,0.241379,0.244444,1
25229,2015,0.344828,0.862069,0.289,0.619,0.261,0.06250,0.558140,0.370,0.708,0.133,0.379310,0.844444,0
25230,2015,0.551724,1.000000,0.438,0.842,0.231,0.40625,0.488372,0.453,0.743,0.387,0.724138,0.422222,0
25231,2015,0.586207,0.103448,0.413,0.613,0.286,0.37500,0.883721,0.359,0.676,0.344,0.241379,0.733333,0
25232,2015,0.310345,0.206897,0.407,0.769,0.281,0.40625,0.348837,0.425,0.750,0.389,0.241379,0.777778,1

## Split into train and test sets and train several models

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X.drop(["SEASON", "HOME_TEAM_WINS"], axis=1), X["HOME_TEAM_WINS"],
    test_size=0.33, random_state=42)

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

lr = LogisticRegression(max_iter=500)
lr.fit(X_train, y_train)
y_pred_log = lr.predict(X_test)

print(classification_report(y_test, y_pred_log))

              precision    recall  f1-score   support

           0       0.80      0.67      0.73       193
           1       0.79      0.88      0.83       275

    accuracy                           0.79       468
   macro avg       0.80      0.78      0.78       468
weighted avg       0.80      0.79      0.79       468

In [16]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)

y_pred_rf = rfc.predict(X_test)
print(classification_report(y_test, y_pred_rf))

              precision    recall  f1-score   support

           0       0.81      0.77      0.79       193
           1       0.85      0.88      0.86       275

    accuracy                           0.83       468
   macro avg       0.83      0.82      0.83       468
weighted avg       0.83      0.83      0.83       468

In [17]:
from sklearn.svm import SVC

svc = SVC()
svc.fit(X_train, y_train)

y_pred_svc = svc.predict(X_test)
print(classification_report(y_test, y_pred_svc))

              precision    recall  f1-score   support

           0       0.79      0.72      0.75       193
           1       0.81      0.87      0.84       275

    accuracy                           0.81       468
   macro avg       0.80      0.79      0.80       468
weighted avg       0.80      0.81      0.80       468

### Randon forest shows best result (by now), so I use it

## Seasons dates

In [18]:
season_schedule = {"SEASON": [2015, 2016, 2017, 2018, 2019, 2020, 2021],
                   "START": ["2015-10-27", "2016-10-25", "2017-10-17",
                             "2018-10-16", "2019-10-22", "2020-12-22", "2021-10-19"],
                   "END": ["2016-04-16", "2017-04-15", "2018-04-14",
                           "2019-04-13", "2020-08-12", "2021-05-21", "2022-04-15"]}

season_schedule = pd.DataFrame(season_schedule)

## Compute average data for each team for a gven season

In [19]:
def compute_season_data(season_year:int=2018) -> pd.DataFrame:
    if season_year > 2022:
        print("NO DATA FOR THIS SEASON")
        return
    
    season_start = season_schedule.loc[season_schedule["SEASON"] == season_year]["START"].iloc[0]
    season_end = season_schedule.loc[season_schedule["SEASON"] == season_year]["END"].iloc[0]
    season_data = df_games[(df_games["SEASON"] == season_year)
                           & (df_games["GAME_DATE_EST"] < season_end)].sort_values(by="GAME_DATE_EST")
    
    teams_data = df_teams[["TEAM_ID", "ABBREVIATION"]]
    teams_data.loc[:, ["SEASON"]] = season_year
    
    home_features = ['FG_PCT_home', 'FT_PCT_home',
                     'FG3_PCT_home', 'AST_home', 'REB_home']
    away_features = ['FG_PCT_away', 'FT_PCT_away',
                     'FG3_PCT_away', 'AST_away', 'REB_away']

    for team_row in teams_data.iterrows():
        idx, (team_id, _, __) = team_row[0], team_row[1].values
        home_data = season_data.loc[season_data["HOME_TEAM_ID"] == team_id, home_features]
        home_data = home_data.rename(columns={f: f[:-5] for f in home_features})

        away_data = season_data.loc[season_data["VISITOR_TEAM_ID"] == team_id, away_features]
        away_data = away_data.rename(columns={f: f[:-5] for f in away_features})
        
        temp_data = pd.concat([home_data, away_data])
        for col in temp_data.columns:
          teams_data.loc[idx, [col]] = temp_data.loc[:, [col]].mean()  
          
    cols_to_norm = ["AST", "REB"]
    teams_data.loc[:, cols_to_norm] = min_max_scaler.fit_transform(teams_data.loc[:, cols_to_norm])
    return teams_data

## Simulate one play-off series for 2 given teams

In [71]:
home_visitor_order = [True, True, False, False, True, False, True]

def get_data(team_name, attr, season_data, add_random=False):
    data_to_return = season_data.loc[season_data["ABBREVIATION"] == team_name, attr].iloc[0]
    if not add_random:
        return data_to_return
    return np.random.normal(data_to_return, scale=0.1)
    

def simulate_play_off_round(team1: str, team2: str, ml_model, season_data: pd.DataFrame):
    if team1 == team2:
        print("YOU ENTERED THE SAME TEAMS")
        return
    
    team1_data = season_data.loc[season_data["ABBREVIATION"] == team1, :]
    team2_data = season_data.loc[season_data["ABBREVIATION"] == team2, :]
    
    home_team_id = []
    away_team_id = []

    fg_pct_home, ft_pct_home, fg3_pct_home = [], [], []
    ast_home, reb_home = [], []

    fg_pct_away, ft_pct_away, fg3_pct_away = [], [], []
    ast_away, reb_away = [], []
    for hv in home_visitor_order:
        if hv:
            home_team = team1_data
            away_team = team2_data
        else:
            home_team = team2_data
            away_team = team1_data
        
        home_team_id.append(home_team["TEAM_ID"].iloc[0])
        fg_pct_home.append(np.random.normal(home_team["FG_PCT"].iloc[0], scale=0.05))
        ft_pct_home.append(np.random.normal(home_team["FT_PCT"].iloc[0], scale=0.05))
        fg3_pct_home.append(np.random.normal(home_team["FG3_PCT"].iloc[0], scale=0.05))
        ast_home.append(np.random.normal(home_team["AST"].iloc[0], scale=0.05))
        reb_home.append(np.random.normal(home_team["REB"].iloc[0], scale=0.05))
        
        away_team_id.append(away_team["TEAM_ID"].iloc[0])
        fg_pct_away.append(np.random.normal(away_team["FG_PCT"].iloc[0], scale=0.05))
        ft_pct_away.append(np.random.normal(away_team["FT_PCT"].iloc[0], scale=0.05))
        fg3_pct_away.append(np.random.normal(away_team["FG3_PCT"].iloc[0], scale=0.05))
        ast_away.append(np.random.normal(away_team["AST"].iloc[0], scale=0.05))
        reb_away.append(np.random.normal(away_team["REB"].iloc[0], scale=0.05))
    
    cols = X_train.columns
    data = {cols[0]: home_team_id, cols[1]: away_team_id,
            cols[2]: fg_pct_home, cols[3]: ft_pct_home, cols[4]: fg3_pct_home,
            cols[5]: ast_home, cols[6]: reb_home,
            cols[7]: fg_pct_away, cols[8]: ft_pct_away, cols[9]: fg3_pct_away,
            cols[10]: ast_away, cols[11]: reb_away}
    games = pd.DataFrame(data)
    results = ml_model.predict(games) 

    team1_wins, team2_wins = 0, 0
    for r, hv in zip(results, home_visitor_order):
        if r == 0:
            if hv:
                team2_wins += 1
            else:
                team1_wins += 1
        else:
            if hv:
                team1_wins += 1
            else:
                team2_wins += 1
        if team1_wins == 4:
            return team1
        elif team2_wins == 4:
            return team2

    return results

season_data = compute_season_data(season_to_simulate)
season_data.head()
simulate_play_off_round("CLE", "GSW", rfc, season_data)

'GSW'